<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="mb-5">
                <h3 class="mb-0">Patients</h3>
            </div>
        </div>
    </div>
    <div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       

                        <form class="row g-3 needs-validation" #f="ngForm" (ngSubmit)="submit">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Nom" class="form-label">Nom</label>
                                        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required
                                        [(ngModel)]="nom" (change)="filterItems()">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="prenom" class="form-label">Prénom <code>*</code></label>
                                        <input type="text" class="form-control" id="prnom" name="prnom" placeholder="Nom" required
                                        [(ngModel)]="prenom" (change)="filterItems()">
                                       
                                    </div>
                                

                       
                                    <div class="col-md-6">
                                        <label for="date" class="form-label">Date de rendez-vous:</label>
                                        <input type="date" id="date" class="form-control"
                                           #date="ngModel" [(ngModel)]="rdv.date" name="date">
                                           
                                    </div>
                            

                            <!-- Select Option -->
                          <!-- <div class="mb-3">
                                <label class="form-label" for="selectOne">Select <span
                                        class="text-secondary">(Optional)</span></label>
                                <select class="form-select" aria-label="Default select example" name="selectedStatus"
                                    [(ngModel)]!="selectedStatus">
                                    <option selected>défini le statut</option>
                                    <option value="1">En attente d'arrivée</option>
                                    <option value="2">En cours</option>
                                    <option value="3">Clôturé</option>
                                </select>
                            </div>--> 
                            <div class="table-responsive mt-3">
                                <table   class="table text-nowrap table-centered mt-0" style="width: 100%">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="pe-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                                    <label class="form-check-label" for="checkAll">
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="ps-1">Nom & Prénom</th>
                                            <th>Date</th>
                                
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let patient of filteredItems"> 
                                            <td class="pe-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="contactCheckbox2">
                                                    <label class="form-check-label" for="contactCheckbox2">
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="ps-0">
                                                <div class="d-flex align-items-center">
                                                    <img src="../assets/images/ecommerce/product-1.jpg" alt=""
                                                        class="img-4by3-sm rounded-3">
                                                    <div class="ms-3">
                                                        <h5 class="mb-0">
                                                            <a href="#!" class="text-inherit">{{patient.nom+" "+patient.prenom}}</a>
                                                        </h5>
    
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{patient.dateNaissance}}</td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                            <div class="col-12 mt-3">
                                <button class="btn btn-primary" type="submit"
                                    [disabled]="f.invalid">Valider</button>
                            </div></div>
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>