<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="mb-5">
                <h3 class="mb-0">Patients</h3>
            </div>
        </div>
    </div>
    <div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-md-flex border-bottom-0">
                        <div class="flex-grow-1">
                            <a routerLink="/patients/add" class="btn btn-primary">+ Ajouter Patient</a>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-card">
                            <table id="example"  class="table text-nowrap table-centered mt-0" style="width: 100%">
                                <thead class="table-light">
                                    <tr>
                                        <th class="pe-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                                <label class="form-check-label" for="checkAll">
                                                </label>
                                            </div>
                                        </th>
                                        <th class="ps-1">Nom & Prénom</th>
                                        <th>Date</th>
                                        <th>Genre</th>
                                        <th>Adresse</th>
                                        <th>Téléphone</th>
                                        <th>CNAM</th>
                                        <th>Numéro CNAM</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let patient of patients">
                                        <td class="pe-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="contactCheckbox2">
                                                <label class="form-check-label" for="contactCheckbox2">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="ps-0">
                                            <div class="d-flex align-items-center">
                                                <img src="../../assets/images/avatar/avatar-7.jpg" alt=""
                                                    class="img-4by3-sm rounded-circle">
                                                <div class="ms-3">
                                                    <h5 class="mb-0">
                                                        <a href="#!" class="text-inherit">{{patient.nom+" "+patient.prenom}}</a>
                                                    </h5>

                                                </div>
                                            </div>
                                        </td>
                                        <td>{{patient.dateNaissance}}</td>
                                        <td>{{patient.genre}}</td>
                                        <td>{{patient.adresse}}</td>
                                        <td>{{patient.telephone}}</td>

                                        <td>
                                            <span class="badge badge-success-soft" *ngIf="patient.CNAM==true">Oui</span>
                                            <span class="badge badge-danger-soft" *ngIf="patient.CNAM==false">Non</span>

                                        </td>
                                        <td>{{patient.NumCnam}}</td>
                                        <td>
                                            <a routerLink="/patients/dossiermedicale" class="btn btn-ghost btn-sm rounded-circle ">
                                                <i class="fa fa-search"></i>

                                            </a>
                                            <a href="#!"
                                                class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                                                data-template="editTwo">
                                                <i class="fa fa-edit"></i>
                                               
                                            </a>
                                            <a href="#!" class="btn btn-ghost btn-sm rounded-circle ">
                                                <i class="fa-sharp fa-solid fa-trash"></i>

                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>