<body>
    <!-- container -->
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <main class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center g-0
          min-vh-100">
                <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
                    <a href="#"
                        class="form-check form-switch theme-switch btn btn-light btn-icon rounded-circle d-none ">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>

                    </a>
                    <!-- Card -->
                    <div class="card smooth-shadow-md">
                        <!-- Card body -->
                        <div class="card-body p-6">
                            <div class="mb-4">
                                <div class="d-flex justify-content-center mb-3">
                                    <img src="../assets/logo.png" alt="dash ui - bootstrap 5 admin dashboard template">
                                    <h3 class="ms-1">Mon Cabinet</h3>
                                </div>
                            </div>
                            <!-- Form -->
                            <!-- Username -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email <code>*</code></label>
                                <input type="email" id="email" class="form-control" name="email"
                                    placeholder="Email address here" #e="ngModel" [(ngModel)]="email" required>
                                <div class="text-danger mt-2" *ngIf="e.invalid && e.touched">
                                    <div *ngIf="e.errors?.['required']" class="mt-2">Le champ email est obligatoire
                                    </div>

                                </div>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe <code>*</code></label>
                                <input type="password" id="password" class="form-control" name="password"
                                    placeholder="**************" #p="ngModel" [(ngModel)]="password" required>
                                <div class="text-danger mt-2" *ngIf="p.invalid && p.touched">
                                    <div *ngIf="p.errors?.['required']" class="mt-2">Le champ mot de passe est
                                        obligatoire
                                    </div>

                                </div>
                            </div>
                            <!-- Checkbox -->

                            <div>
                                <!-- Button -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="!loginForm.valid">Connexion</button>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </main>
    </form>
</body>