<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="mb-5">
                <h3 class="mb-0">Rendez-vous</h3>
            </div>
        </div>
    </div>
    <div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-end">
                            <a routerLink="/rendez-vous/add" class="btn btn-primary" >+ Ajouter Rendez-vous</a>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-card">
                            <table id="example" class="table text-nowrap table-centered mt-0" style="width: 100%">
                                <thead class="table-light">
                                    <tr>
                                        
                                        <th class="ps-1">Nom & Prénom Patient</th>
                                        <th>Date Naissance Patient</th>
                                        <th>Date Heure RDV</th>
                                        <th>Motif</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rdv of rendezvousList">
                                        <td class="ps-0">
                                            <div class="d-flex align-items-center">
                                                <img src="../../assets/images/avatar/avatar-7.jpg" alt=""
                                                    class="img-4by3-sm rounded-circle">
                                                <div class="ms-3">
                                                    <h5 class="mb-0">
                                                        <a href="#!" class="text-inherit">{{rdv.patient.nom+" "+rdv.patient.prenom}}</a>
                                                    </h5>

                                                </div>
                                            </div>
                                        </td>
                                        <td>{{rdv.patient.dateNaissance | date}}</td>
                                        <td>{{rdv.date | date}}  {{rdv.heure}}</td>
                                        <td>{{rdv.motif}}</td>
                                        <td>
                                            <span class="badge badge-success-soft" *ngIf="rdv.status==statuts[2]">{{rdv.status}}</span>
                                            <span class="badge badge-warning-soft" *ngIf="rdv.status==statuts[1]">{{rdv.status}}</span>
                                            <span class="badge badge-danger-soft" *ngIf="rdv.status==statuts[0]" >{{rdv.status}}</span>
                                        </td>
                                        <td>
                                            <a *ngIf="rdv.status==statuts[0] || rdv.status==statuts[1]" 
                                            [routerLink]="['/rendez-vous/edit',rdv.id]"
                                                class="btn btn-ghost btn-icon btn-sm rounded-circle texttooltip"
                                                data-template="editTwo">
                                                <i class="fa fa-edit"></i>
                                               
                                            </a>
                                            <a *ngIf="rdv.status==statuts[0] || rdv.status==statuts[1]"  (click)="deleteRDV(rdv.id)" class="btn btn-ghost btn-sm rounded-circle ">
                                                <i class="fa-sharp fa-solid fa-trash"></i>

                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>