<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="mb-5">
                <h3 class="mb-0">Patients</h3>
            </div>
        </div>
    </div>
    <div>
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-12">

                                <div class="card mb-4">

                                    <div class="card-body">
                                        <div>
                                            <div class="mb-3">
                                                <label class="form-label">taille</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Enter Product Title">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Poid</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Enter Product Title">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" id="productSKU">Gender</label><br>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="inlineRadio3" value="option2">
                                                    <label class="form-check-label" for="inlineRadio3">Kids</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-4">

                                            <div class="card-body">

                                                <div class="mb-3">
                                                    <div class="form-check form-switch mb-4">
                                                        <input class="form-check-input" type="checkbox" role="switch"
                                                            id="flexSwitchAlergie" checked>
                                                        <label class="form-check-label"
                                                            for="flexSwitchAlergie">Alergie</label>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Nom Alergie</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Product Title">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>