<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div class="d-flex justify-content-between mb-5 align-items-center">
          <h3 class="mb-0 ">Mon Cabinet</h3>
        </div>
      </div>
    </div>
    <div class="row row-cols-1  row-cols-xl-4 row-cols-md-2 ">
      <div class="col mb-5">
        <div class="card h-100 card-lift">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted fw-semi-bold ">Nombre de patients</span>
              <span><i data-feather="shopping-cart" class="text-info"></i></span>

            </div>
            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
              <h3 class="fw-bold  mb-0">{{nombrePatients}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 card-lift">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted fw-semi-bold ">Nombre de rendez-vous</span>
              <span><i data-feather="dollar-sign" class="text-info"></i></span>

            </div>
            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
              <h3 class="fw-bold  mb-0">{{nombreRendezVousEnAttente}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 card-lift">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted fw-semi-bold ">Date</span>
              <span><i data-feather="user" class="text-info"></i></span>

            </div>
            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
              <h3 class="fw-bold  mb-0">{{dateAujourdhui | date:'dd/MM/yyyy'}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100 card-lift">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted fw-semi-bold ">Heure</span>
              <span><i data-feather="credit-card" class="text-info"></i></span>

            </div>
            <div class="mt-4 mb-3 d-flex align-items-center lh-1">
              <h3 class="fw-bold  mb-0">{{dateAujourdhui | date:'HH:mm'}}</h3>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">

            <app-week></app-week>
          </div>
        </div>
      </div>
    </div>
</div>
 